<h2 class = "{{componentCssClassName}}-header">
  Сегодня на кранах
</h2>


{{beer-table/tap
  taps     = taps
  class    = (concat componentCssClassName '-table _taps')
  mode     = "tap"
}}


<h2 class = "{{componentCssClassName}}-header">
  Сегодня на бутылках
</h2>

{{beer-table/bottle
  beers = (filter-by 'bottle' 'yes' beers)
  class = (concat componentCssClassName '-table _bottles')
  mode  = "tap"
}}

{{log 'bottles' (filter-by 'bottle' 'yes' beers)}}