<h2 class = "{{componentCssClassName}}-header">
  Сегодня на кранах
</h2>

{{#if (or fastboot.isFastBoot allDocumentsProxy.isPending)}}
  Загружаем...
{{else if allDocumentsProxy.isFulfilled}}
  {{beer-table/tap
    taps     = taps
    class    = (concat componentCssClassName '-table _taps')
    mode     = "tap"
  }}
{{else if allDocumentsProxy.isRejected}}
  Не удалось загрузить.
  <a href {{action 'refetch'}}>Попроовать снова</a>
{{/if}}


<h2 class = "{{componentCssClassName}}-header">
  Сегодня в бутылках
</h2>

{{#if (or fastboot.isFastBoot allDocumentsProxy.isPending)}}
  Загружаем...
{{else if allDocumentsProxy.isFulfilled}}
  {{beer-table/bottle
    beers = (filter-by 'bottle' 'yes' beers)
    class = (concat componentCssClassName '-table _bottles')
    mode  = "tap"
  }}
{{else if allDocumentsProxy.isRejected}}
  Не удалось загрузить.
  <a href {{action 'refetch'}}>Попроовать снова</a>
{{/if}}