<div class = 'beerList-controls'>

  <div class = 'beerList-sortOptions'>
    {{#each sortOptions as |sortOption|}}
      <a
        href
        class = '
          beerList-sortOption
          {{if (eq sortOption currentSortOption) '-current' '-not-current'}}
        '
        title = {{sortOption.title}}
        {{action 'sort' sortOption}}
      >
        <span class = 'beerList-sortOption-label'>
          {{~sortOption.label~}}
        </span>{{! sortOption-label }}

        {{~concat~}}

        {{#if (eq sortOption currentSortOption)~}}
          <span class = 'beerList-sortOption-direction'>
            {{~if (eq currentSortOrder 'asc') '▼' '▲'~}}
          </span>{{! sortOption-direction }}
        {{/if}}
      </a>{{! sortOption }}
    {{/each}}{{! sortOptions }}
  </div>{{! sortOptions }}




  <div class = 'beerList-options'>

    <label class = 'beerList-option _group'>
      {{one-way-checkbox
        class   = 'beerList-option-checkbox'
        checked = groupByBreweryEffective
        update  = (action 'toggleGroup')
      }}

      <span class   = 'beerList-option-label'>
        Группировать по пивоварням
      </span>{{! option-label }}
    </label>{{! option _group}}

    <label class = 'beerList-option _group'>
      {{one-way-checkbox
        class   = 'beerList-option-checkbox'
        checked = groupByBreweryEffective
        update  = (action 'toggleIsExpanded')
      }}

      <span class   = 'beerList-option-label'>
        Подробно
      </span>{{! option-label }}
    </label>{{! option _group}}

  </div>{{! options }}

</div>{{! controls }}




<div>
  {{#if groupByBreweryEffective}}
    <div>
      {{#each (sort-by 'name' breweries) as |brewery|}}
        <div>
          <a
            href
            {{action 'goToBrewery' brewery}}
          >
            {{strip-tags brewery.name}}
          </a>
        </div>
      {{/each}}
    </div>

    <div>
      {{#each breweries as |brewery|}}
        <div>
          <h3
            class = 'beerList-brewery-title _brewery-{{brewery.id}}'

          >
            {{strip-tags brewery.name}}
          </h3>

          <div>
            {{#each
                (sort-by
                  (concat 'beer.' currentSortOption.path ':' currentSortOrder)
                  (filter-by 'brewery' brewery beersWrapped)
                )
              key = 'beer.id'
              as |beerWrapper|
            }}
              {{beer-list/item
                class            = 'beerList-item'
                beer             = beerWrapper.beer
                isExpanded       = beerWrapper.isExpanded
                mode             = mode
              }}
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>

  {{else}}

    <div>
      {{#each
        (sort-by
          (concat 'beer.' currentSortOption.path ':' currentSortOrder)
          beersWrapped
        )
        key = 'beer.id'
        as |beerWrapper|
      }}
        {{beer-list/item
          class            = 'beerList-item'
          beer             = beerWrapper.beer
          isExpanded       = beerWrapper.isExpanded
          mode             = mode
        }}
      {{/each}}
    </div>

  {{/if}}
</div>